.button {
  -webkit-appearance: none;
  display: inline-block;
  border-radius: 28px;
  font-size: 22px;
  font-weight: 700;
  padding: 12px 32px;
  background: #fff;
  color: #000;
  height: 56px;
  text-decoration: none;
  line-height: 30px;
  border: 0;
  min-width: 192px;
  cursor: pointer;

  &:active {
    outline: none;
  }

  &:disabled {
    cursor: default;
  }

  &.working {
    opacity: 0.5;
  }
}
