body {
  margin: 16px;

  @media screen and (min-width: 768px) {    
    margin: 16px 32px;
  }
}

.site-wrap {
  margin: 0 auto;
  position: relative;
  max-width: 480px;
  
  @media screen and (min-width: 768px) {
    max-width: 1152px;
  }
}

.site-content {
  @media screen and (min-width: 768px) {
    max-width: 856px;
    margin-left: 296px;
  }
}

.site-header {
  position: absolute;
  top: 64px;

  @media screen and (min-width: 768px) {
    position: fixed;
    top: 68px;
  }
}

.site-section {
  position: relative;
  margin-bottom: 80px;
}

.site-intro {
  height: 100vh;
  min-height: 520px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;

  @media screen and (min-width: 768px) {
    height: auto;
    min-height: 0;
    display: block;
    margin-top: 60px;
    margin-bottom: 180px;
    padding-top: 0;
  }
}

.site-footer {
  @media screen and (min-width: 768px) and (min-height: 480px) {
    position: fixed;
    bottom: 32px;
  }

  @media screen and (min-width: 768px) and (min-height: 780px) {
    position: fixed;
    bottom: auto;
    top: 456px;
  }

  @media screen and (min-width: 768px) and (max-height: 479px) {
    margin-left: 296px;

    @media screen and (min-width: 1024px) {    
      display: flex;
      justify-content: space-between;
      margin: 0 -16px 32px 280px;

      .site-footer-section {
        padding: 0 16px;
        flex-basis: calc(33.333% - 32px);
      }
    }
  }
}

.site-footer-section {
  margin-top: 32px;

  a {
    text-decoration: none;
  }  
}

.row {
  display: flex;
  margin: 0 -16px;
  flex-wrap: wrap;
}

.grid-item {
  flex-basis: calc(100% - 32px);
  flex-grow: 0;
  flex-shrink: 0;
  margin: 0 16px 36px;

  @media screen and (min-width: 1024px) {
    flex-basis: calc(50% - 32px);
  }

  @media screen and (min-width: 1100px) {
    flex-basis: calc(33.333% - 32px);
  }

  &.grid-item--small {
    @media screen and (min-width: 500px) and (max-width: 1023px) {
      flex-basis: calc(50% - 32px);
    }
  }
}

.client-logo {
  width: 100%;
  max-width: 200px;
  margin-bottom: 16px;
}

.service-icon {
  margin-bottom: 8px;
}

.about-img {
  margin-bottom: 20px;
}

.form-field {
  flex-basis: calc(100% - 32px);
  margin: 0 16px 24px;
  
  @media screen and (min-width: 1024px) {
    flex-basis: calc(33.333% - 32px);
  }
}

.form-notification {
  margin-top: 32px;
  opacity: 0;
  transition: 0.3s opacity;
  transition-delay: 0.5s;

  @media screen and (min-width: 768px) {
    position: absolute;
    right: 0;
    bottom: 0;
    min-height: 40px;
    font-weight: 700;
    font-size: 19px;
    left: 220px;
  }

  &.active {
    opacity: 1;
  }

  &.error {
    color: red;
  }
}
