h1,
.h1 {
  font-size: 28px;
  font-weight: 200;
  line-height: 1.2;
  margin-bottom: 32px;

  @media screen and (min-width: 600px) {
    font-size: 36px;
  }

  @media screen and (min-width: 1024px) {
    font-size: 42px;
  }
}

h2,
.h2 {
  font-size: 26px;
  margin-bottom: 1.23em;
  font-weight: 700;
}

h3,
.h3 {
  font-size: 19px;
  margin-bottom: 0.36em;
  font-weight: 700;

  @media screen and (min-width: 600px) {
    font-size: 22px;
  }
}

h4,
.h4 {
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 8px;
}

p,
li {
  font-size: 16px;
  line-height: 1.5;
  color: #999;
  margin-bottom: 1em;

  @media screen and (min-width: 600px) {
    font-size: 17px;
  }
}

li,
.li {
  margin-bottom: 0;
}

a {
  color: inherit;
}
